@charset "UTF-8";

* {
    font-family: serif;
}
.f-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#header {
    border-bottom: dotted 2px pink;
    width: 100%;
}
#header h1 {    
    text-align: center;
    color: orange;
    height: 30px;
    margin: 30px 3%;
    text-shadow: 1px 1px 2px darkblue;
}
#header p {
    text-align: center;
}
#contents {
    width: 68%;
    min-height: 50px;
    padding: 3px;
    font-size: 1rem;
    border-right: dotted 2px pink;
    background-color: rgb(255, 255, 255);
}
.articles-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}
.article {
    position: relative;
    width: 90%;
    margin: 2% 0;
}
.article:before {
    content: "";
    display: block;
    padding-top: 15%;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border: solid 1px;
    background-color: rgb(240, 248, 255);
    border-radius: 30px;
}
.content:hover {
    background-color: rgb(209, 233, 255);
}
.content a {
    position: absolute;
    width: 100%;
    height: 100%;
}
.content h2 {
    text-align: center;
    margin: 5px 0;
    padding: 0;
}
.content p {
    margin: 5px 5%;
}
#menu {
    height: 100vh;
    min-height: 500px;
    width: 30%;
    padding: 0 3px;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    scrollbar-width: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#menu::-webkit-scrollbar {
    display: none;
}
#menu-header {
    background-color: white;
    width: 100%;
    padding: 3px 0 0 0;
    max-height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#menu-header p {
    text-align: center;
    font-size: 2em;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 2px rgb(157, 157, 255);
    background-color: rgb(240, 255, 218);
}
#about-me p {
    margin: 0;
    height: auto;
}
#icon {
    float: left;
    text-align: center;
    margin: 0px;
    width: 40%;
    background-color: rgb(255, 233, 233);
}
#icon p {
    margin: 0;
    min-width: 50px;
    text-align: center;
}
img {
    width: 100%;
    min-width: 100px;
    max-width: 300px;
    height: auto;
}
#footer {
    border-top: dotted 2px pink;
    width: 100%;
    background-color: rgb(245, 252, 255);
}
#footer p {
    text-align: center;
    font-size: small;
    margin: 0;
}