.link_card {
  border-radius: 75px 0 0 75px;
  border-color: white;
  border: solid 1px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  max-width: 500px;
  min-width: 300px;
  min-height: 150px;
}

.text_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  text-align: center;
  width: 200px;
  height: 120px;
  h2 {
    margin: 0px;
  }
  p {
    margin: 0px;
  }
}

@media (max-width: 500px) {
  .link_card {
    border-radius: 30px;
    flex-flow: column nowrap;
    max-width: 300px;
  }
}
