.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 500px;
  border: solid 1px;
  border-color: white;
  border-radius: 0 30px 30px 0;
}

.text_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 348px;
  text-align: center;
}
