.notice_card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-radius: 30px;
  border-color: white;
  border: solid 1px;
  width: 500px;
  h2 {
    margin: 15px 0 5px 0;
  }
  text-align: center;
}

.description {
  margin: 5px 0;
}

.date {
  font-size: small;
  text-align: right;
  margin: 0 20px 5px 0;
}

.no_date {
  margin: 0 0 5px 0;
}
